$color_fondo: #00a122;
$color_borde: #bababa;
$color_back: #9e9e9e;
$alto_img: 8vh;
$tam_circulo: 5vh;
$altura_circulo: 5vh;
$alto_img_peque: 12vw;
$tam_circulo_peque: 8vw;

img {
  position: relative;
  height: $alto_img;
  aspect-ratio: 1 / 1;
}
.iconos_navbar {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  border-top: 1vh solid $color_back;
  background-color: $color_back;
  justify-content: space-around;
  align-items: center;

  .ubicacion {
    position: relative;
    bottom: $altura_circulo;
    text-align: center;
    background-color: $color_fondo;
    border-radius: 100%;
    padding: $tam_circulo;
    z-index: 3;
    border: 1vh solid $color_borde;
  }

  .instruccion{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $color_fondo;
    padding: 1vh 20vw 1vh 15vw;
    border: 1vh solid $color_borde;
    z-index: 2;
  }

  .contacto{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $color_fondo;
    padding: 1vh 15vw 1vh 20vw;
    border: 1vh solid $color_borde;
    z-index: 2;
  }

  @media(max-width:600px){
  height: 4vh;
    .ubicacion {
      padding: $tam_circulo_peque;
    }

    .instruccion{
      padding: 1vh 15vw;
    }
  
    .contacto{
      padding: 1vh 15vw;
    }

    img {
        height: $alto_img_peque;
        aspect-ratio: 1 / 1;
      }
  }
}

