.menu-container{
  .nav-bar {
    margin:  0 5%;
    display: flex;
    background-color: #ccc;
    padding-left: 20px;
    border-radius: 40px;
  }
  #menu{
    display: none;
  }
  .menu-icon{
    height: 40px;
    filter: invert(82%) sepia(5%) saturate(0%) hue-rotate(161deg) brightness(100%) contrast(95%);
  }
  label{
    cursor: pointer;
    display: none;
  }

  @media(max-width:991px){
    .nav-bar {
      position: fixed;
      top: 80px;
      left: 0;
      right: 0;
      display: none;
    }
    label {
      position: fixed;
      display: initial;
      top: 15px;
      right: 20px;
    }

    #menu:checked ~ .nav-bar{
      display: flex;
    }
  }
}

